* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(238, 238, 238);
}
nav {
    background-color: white;
    height: 80px;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 50%;
}
nav.search {
    position: relative;
    width: 690px;
    display: flex;
}
.search input {
    background-color: aliceblue;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
}
.search i{
    position: absolute;
    top: 12px;
    left: 10px;
}
nav button {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 17px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
nav#login:hover {
    background-color: blue;
    color: white;
}
nav#menu:hover {
    background-color: rgb(219, 212, 212);

#bars {
    display: none;
}